@import '../../tokens/designTokens.css';

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: var(--transition-color);
  margin: 0;
  padding: 0;
  color: var(--color-dark);
}

.icon-filled {
  fill: currentColor;
  stroke: none;
}

.icon-outline {
  fill: none;
  stroke: currentColor;
}

