@import '../../tokens/designTokens.css';

.icon-button {
  border-radius: var(--border-radius-round);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icon-button > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

