@import '../../design-system/tokens/designTokens.css';

.editable-text-cell {
  width: 100%;
  max-width: 100%;
  padding-top: calc(var(--spacing-md) + 2px) !important;
  padding-bottom: calc(var(--spacing-md) + 1px) !important;
  padding-left: var(--spacing-md) !important;
  padding-right: var(--spacing-md) !important;
}

