@import '../../tokens/designTokens.css';

.ruler {
  position: relative;
  background: var(--color-bg-light);
  border: var(--border-width) solid var(--color-border-light);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow: hidden;
  min-height: var(--ruler-size);
  min-width: var(--ruler-size);
}

.ruler-horizontal {
  height: 100%;
  width: 100%;
  border-bottom: var(--border-width) solid var(--color-border-light);
}

.ruler-vertical {
  width: 100%;
  height: 100%;
  border-right: var(--border-width) solid var(--color-border-light);
}

.ruler-ticks {
  position: relative;
  width: 100%;
  height: 100%;
}

.ruler-tick {
  position: absolute;
  background: var(--color-border-medium);
}

.ruler-tick-horizontal {
  width: 1px;
  height: 100%;
  top: 0;
}

.ruler-tick-vertical {
  width: 100%;
  height: 1px;
  left: 0;
}

.ruler-tick-minor {
  opacity: 0.4;
}

.ruler-tick-horizontal.ruler-tick-minor {
  height: 30%;
  top: 70%;
}

.ruler-tick-vertical.ruler-tick-minor {
  width: 30%;
  left: 70%;
}

.ruler-tick-medium {
  opacity: 0.6;
}

.ruler-tick-horizontal.ruler-tick-medium {
  height: 50%;
  top: 50%;
}

.ruler-tick-vertical.ruler-tick-medium {
  width: 50%;
  left: 50%;
}

.ruler-tick-major {
  opacity: 1;
}

.ruler-tick-horizontal.ruler-tick-major {
  height: 100%;
  top: 0;
}

.ruler-tick-vertical.ruler-tick-major {
  width: 100%;
  left: 0;
}

.ruler-tick-label {
  position: absolute;
  font-size: 10px;
  color: var(--color-text-secondary);
  font-family: var(--font-family);
  line-height: 1;
  white-space: nowrap;
  pointer-events: none;
}

.ruler-tick-horizontal .ruler-tick-label {
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.ruler-tick-vertical .ruler-tick-label {
  left: 2px;
  top: 2px;
  transform: rotate(-90deg);
  transform-origin: left top;
}

