.date-picker-dropdown-component {
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.date-picker-dropdown-component input[type="date"] {
  opacity: 0;
  position: absolute;
  pointer-events: auto;
  width: 1px;
  height: 1px;
}

